/* מייבאים מידע מקבצי סיאסאס אחרים */
@import url(pages\flex-task\styles\_base.css);
@import url(pages\flex-task\styles\_reset.css);
@import url(pages\flex-task\styles\_typography.css);
/* Ben's comment  */
/* בונים את הקלאס לקופסא הראשית - כלומר העיצוב של גוף העמוד */
.container {
  /* הגבול החיצוני הוא חמש פיקסל */
  padding: 5px;
  /* משתמשים ברכיב פלקס בשביל העיצוב - כנראה זה דבר קבוע */
  display: flex;
  /* הצורה הזו של הפלקס נכונה ולא עמודה, כי אחר כך צריך שכמה קופסאות יעמדו אחת ליד השנייה וא נעשה עמודה - הכל יהיה תמיד בטור */
  flex-wrap: wrap;
}
/* עכשיו מכניסים את הקלאס של הקופסא. לכל צבע יש גם את הקלאס של הקופסא */
.box {
  /* הצבע של הקופסה עצמה - בשביל שהכתב הפנימי יהיה בלבן */
  color: white;
  /* גובה כללי לכל הקופסאות */
  height: 100px;
  /* גודל הפונט */
  font-size: 25px;
  /* התצוגה מוצגת לפי הכלי פלקס ואז לא צריך להתעסק עם הגדרות גרפיות */
  display: flex;
  /* יישור רוחבי כותבים לפי ג'סטיפיי */
  justify-content: center;
  /* יישור לאורך כותבים לפי אליין */
  align-items: center;
  /* על מנת לוודא שהקופסא או קופסאות תופסים מאה אחוז מסך */
  flex-basis: 100%;
  /* על מנת לעגל פינות של תמונה מגדירים כמה מהרדיוס של הנקודה המרכזית נחתך */
  border-radius: 8px;
  /* מרחק בין הקופסא למה שלצידה */
  margin: 5px;
}
/* עכשיו כותבים קלאסים נוספים על מנת לתת לכל קופסא לפי הצבע הרצוי */
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
  /* לשים לב שמכניסים פה שינוי בגובה - כי התיבה הכתומה גבוהה יותר מהכחולות - ולהם נשארנו עם הגובה הבסיסי של כל הקופסאות. */
  height: 250px;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
  /* גם פה מוסיפים הוראה לשינוי גובה - שדורסת את ההוראה של הקלאס הראשון */
  height: 150px;
}
.expendable {
  /* הקלאס הזה מגיע ריק כי הוא לא אמור לפעול עד שמגיע הכלל של המדיה קווארי */
  display: none;
}
/* המדיה קווארי הראשון -  */
@media all and (min-width: 800px) {
  /* עדיין לא מבין מה הפלקס עושה פה */
  .expendable {
    display: flex;
  }
  .red {
    /* ברגע שהקופסאות האדומות מתרחבות מעבר לכמות הפיקסלים שלמעלה נכנס כלל פלקס חדש שהתיבות מסתדרות בשורה אחת - פחות הפיקסלים שמשמשים כגבול חיצוני */
    flex-basis: calc(50% - 10px);
  }
}
/* המדיה קווארי השני */
@media all and (min-width: 1200px) {
  /* עכשיו מוסיפים פה כלל נוסף שמשפיע על המסך שהיוזר מרחיב את המסך מעבר ל1200 פיקסל. קודם כל מוסיפים הוראה ליצור יותר הרחבה בין כל הקופסאות, ואז כלל לגבי הקופסאות הירוקות מסתדרות לשורה אחת בוגבה שונה */
  .container {
    row-gap: 20px;
  }
  .green {
    flex-basis: calc(33.3333% - 10px);
    height: 300px;
  }
  /* הקופסאות האדומות מתחברות לשורה אחת שמתחלקת לשלוש */
  .red {
    flex-basis: calc(25% - 10px);
  }
}
